body
{
width:     1000px;
font-family: Arial;
font-color: #22181c;
background-color: #f6e8ea;
  background-image: url("at rest.png");
    background-image: center right;
      background-image: no-repeat;
  background-size: cover;
  background-opacity: 0.5;
  
}
h1
{
font-family: Bookman;
  font-color: #22181c;
  background-color: #ef6263;
  padding: 50px 10px;
  width: 500px;
  border-radius: 1px 25px;
    margin: 10px;
  position: relative;
  left: 200px;
}
p
{
  padding: 10px;
}
