body
{
width:     1000px;
font-family: Arial;
font-color: #22181c; 
  background-color: #f6e8ea;
}
h1
{
font-family: Bookman;
  font-color: #22181c;
  background-color: #ef6263;
  padding: 10px 50px;
  width: 500px;
  border-radius: 1px 25px;
    margin: 10px;
  position: relative;
  left: 200px;
}
p
{
  padding: 10px;
}
.rest
{
  position: fixed;
  bottom: 0;
  right: 0;
}
